In [1]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.6-cp39-cp39-win_amd64.whl (1.2 MB)
     ---------------------------------------- 1.2/1.2 MB 4.1 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.6

In [2]:
import psycopg2

In [3]:
try:
    conn = psycopg2.connect("host=127.0.0.1 dbname=postgres user=postgres password=root")
except pyscopg2.Error as e:
    print(e)

In [4]:
try:
    cursor = conn.cursor()
except psycopg2.Error as e:
    print(e)

In [5]:
conn.set_session(autocommit=True)

In [6]:
try:
    cursor.execute("CREATE DATABASE firstDB")
except psycopg2.Error as e:
    print(e)

In [8]:
try:
    conn.close()
except psycopg2.Error as e:
    print(e)
    
try:
    conn = psycopg2.connect("host=127.0.0.1 dbname=firstdb user=postgres password=root")
except pyscopg2.Error as e:
    print(e)
    
try:
    cursor = conn.cursor()
except psycopg2.Error as e:
    print(e)
    
conn.set_session(autocommit=True)

In [9]:
def executeQuery(queryStr):
    try:
        cursor.execute(queryStr)
    except psycopg2.Error as e:
        print(e)

In [10]:
executeQuery("CREATE TABLE students (student_id int, name varchar, age int, gender varchar, subject varchar, marks int);")

In [12]:
executeQuery("INSERT INTO students (student_id, name, age, gender, subject, marks) VALUES (1, 'John', 23, 'Male', 'DSA', 85)")

In [13]:
executeQuery("INSERT INTO students (student_id, name, age, gender, subject, marks) VALUES (2, 'Nikolai', 23, 'Male', 'DBMS', 85)")

In [14]:
executeQuery("INSERT INTO students (student_id, name, age, gender, subject, marks) VALUES (1, 'Kate', 23, 'Female', 'DSA', 85)")

In [17]:
cursor.execute("SELECT * FROM students")

In [18]:
row = cursor.fetchone()
while row:
    print(row)
    row = cursor.fetchone()

(1, 'John', 23, 'Male', 'DSA', 85)
(2, 'Nikolai', 23, 'Male', 'DBMS', 85)
(1, 'Kate', 23, 'Female', 'DSA', 85)