In [1]:
import pandas as pd
import psycopg2 as psy

In [2]:
df = pd.read_csv("./datasets/routes_rated.csv")

In [3]:
df.head()

,Unnamed: 0,name_id,country,crag,sector,name,tall_recommend_sum,grade_mean,cluster,rating_tot
0,0,0,and,montserrat,prohibitivo,diagonal de la x,-1,49.250000,3,-0.045211
1,1,1,and,montserrat,prohibitivo,mehir,-1,49.000000,2,0.116464
2,2,2,and,montserrat,prohibitivo,pas de la discordia,0,49.000000,2,0.178722
3,3,3,and,tartareu,bombo suis,tenedor libre,0,44.333333,3,0.158449
4,4,4,arg,bandurrias,rincon,tendinitis,1,48.500000,0,0.075797

In [4]:
try:
    conn = psy.connect("host=127.0.0.1 dbname=imported_data_1 user=postgres password=root")
except pyscopg2.Error as e:
    print(e)
    
try:
    cursor = conn.cursor()
except psycopg2.Error as e:
    print(e)
    
conn.set_session(autocommit=True)

In [7]:
for index, row in df.iterrows():
    insertQueryStr = "INSERT INTO routes_rated (name_id, country, crag, sector, name, tall_recommend_sum, grade_mean, cluster, rating_tot) VALUES ({}, '{}', '{}', '{}', '{}', {}, {}, {}, {})"
    insertQueryStr = insertQueryStr.format(row["name_id"], row["country"], row["crag"], row["sector"], row["name"], row["tall_recommend_sum"], row["grade_mean"], row["cluster"], row["rating_tot"])
    cursor.execute(insertQueryStr)
#     print(insertQueryStr)
#     if index == 5:
#         break