In [1]:
import pandas as pd
import psycopg2 as psy

In [3]:
df = pd.read_csv("./datasets/grades_conversion_table.csv")

In [4]:
df.head()

   Unnamed: 0  grade_id grade_fra
0           0         0         -
1           1         1         -
2           2         2         -
3           3         3         1
4           4         4        1a

In [5]:
try:
    conn = psy.connect("host=127.0.0.1 dbname=imported_data_1 user=postgres password=root")
except pyscopg2.Error as e:
    print(e)
    
try:
    cursor = conn.cursor()
except psycopg2.Error as e:
    print(e)
    
conn.set_session(autocommit=True)

In [8]:
for index, row in df.iterrows():
    insertQueryStr = "INSERT INTO grades_conversion_table (grade_id, grade_fra) VALUES ({}, '{}')"
    insertQueryStr = insertQueryStr.format(row["grade_id"], row["grade_fra"])
    cursor.execute(insertQueryStr)
#     print(insertQueryStr)
#     if index == 5:
#         break